html {
    background-color: antiquewhite;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-size: cover;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

<<<<<<< HEAD
li {
=======
nav li {
>>>>>>> 80ac89f01c7eef604809629b3422ff023d220d98
    display: inline;
    margin: 80px;

}

<<<<<<< HEAD
li a {
=======
nav li a {
>>>>>>> 80ac89f01c7eef604809629b3422ff023d220d98
    text-decoration: none;
    font-weight: bolder;
}

<<<<<<< HEAD
#first,
#third {
=======
#first {
>>>>>>> 80ac89f01c7eef604809629b3422ff023d220d98
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#form {
    display:inline-block;
    text-align: right;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.inputs {
    padding: 5px;
}
